<% @creatures.each do |creature| %>

   <div>
      <h2>Name: <%= creature.name %> </h2>
      <br>
      <p>Decription : <%= creature.description %> </p>
      <br/>
      <a href="/creatures/<%= creature.id %>/edit"><button class="btn btn-info">Edit</button></a>
      <%= button_to "Delete", creature, method: :delete %>
   </div>

<% end %>
