<div>
   <h2>Name : <%= @creature.name%> </h2>
   <br>
   <p>Description: <%= @creature.description %> </p>
</div>

<div>
   <a href="/creatures"><button class="btn btn-info">Home</button></a>
</div>
